API_URL=<YOUR API URL>

# Appium Configuration

# The name of the mobile platform to run tests on.
# Examples: "Android", "iOS"
APPIUM_PLATFORM_NAME=

# The version of the mobile platform.
# Examples: "15.0" for Android 15, "17.2" for iOS 17.2
APPIUM_PLATFORM_VERSION=

# The name of the device or emulator to use.
# This can be a specific device name or emulator name,
# such as the name of one of your Android Studio devices.
APPIUM_DEVICE_NAME=

# How long (in seconds) Appium will wait for a new command from the client
# before assuming the client has stopped sending commands.
# Example: 300 (for 5 minutes)
APPIUM_NEW_COMMAND_TIMEOUT=